[submodule "minishell"]
	path = minishell
	url = https://github.com/Younganswer/minishell
[submodule "cub3d"]
	path = cub3d
	url = https://github.com/Younganswer/cub3d
[submodule "miniRT"]
	path = miniRT
	url = https://github.com/Younganswer/miniRT
[submodule "inception"]
	path = inception
	url = https://github.com/Younganswer/inception.git
[submodule "webserv"]
	path = webserv
	url = https://github.com/Younganswer/webserv.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = https://github.com/younganswer/ft_transcendence/
